*{ 
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url("https://www.fonts.com/font/fontfabric/uni-sans/heavy");

section{
    font-family: "Lilita One", cursive;
    color: #fff;
    background: #575757;
    border-radius: 30px;
    text-align: center;
}

.Title{
    font-size: 30px;
}

.Image{
    height: 150px;
}



.imgg{
    height: 150px;
    position: absolute;
    left: 30px;
    top: 30px;
}


body{
    background: #363636;
    list-style: none;
    text-decoration: none;
}
header{
    color: white;
    font-size: 40px;
    text-align: center;
    top:0px;
    left:0px;
    width:100%;
    height: 30px{
    border-radius: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Lilita One", cursive;
    background: linear-gradient(90deg, #ff6666,#ffa366)
}

px;
    background: #474747;
}

button{
    border-radius: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Lilita One", cursive;
    background: linear-gradient(90deg, #ff6666,#ffa366)
}

.Para{
    font-size: 21px;
}





